.detail-wrapper {
  background-image: url("https://www.teahub.io/photos/full/332-3329460_dota-2-youtube-banner..jpg") !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.detail-inner {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: scroll;
}
